@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}
.form-control:focus {
    border-color: rgb(255, 165, 0);;
    box-shadow: inset 0 1px 1px rgba(255, 165, 0, 0.1), 0 0 8px rgba(255, 255, 0, 0.6);
  }
.container h3 {
text-align: center;
}

.container img {
    display: block;
    margin: 20px auto;
    border: 3px solid;
    width: 230px;
    height: 300px;
    box-shadow: 5px 10px #343434;
}
@media only screen and (max-width: 400) {
    .container{   
        margin-top: 250px;
    }
}